Source: freedombox-setup
Section: misc
Priority: optional
Maintainer: Petter Reinholdtsen <pere@debian.org>
Uploaders:
 Bdale Garbee <bdale@gag.com>
 , Nick Daly <Nick.M.Daly@gmail.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.4

Package: freedombox-setup
Architecture: all
Depends: ${misc:Depends}
 , apache2 | apache2-mpm-worker
 , augeas-tools
 , bridge-utils
 , build-essential
 , checkinstall
 , devio
 , dialog
 , dnsmasq
 , dnsutils
 , dosfstools
 , etckeeper
 , git
 , haveged
 , hostname
 , htop
 , iftop
 , iproute
 , iptables
 , iputils-ping
 , isc-dhcp-client
 , libnss-myhostname
 , libpython2.7
 , locales
 , locales-all
 , lsof
 , lua-sec
 , macchanger
 , make
 , mercurial
 , monkeysphere
 , net-tools
 , ntp
 , openssh-server
 , parted
 , plinth (>= 0.3.0.0.git.20131007.pere.2)
 , psmisc
 , python-argparse
 , python-augeas
 , python-beautifulsoup
 , python-bjsonrpc
 , python-cheetah
 , python-cherrypy3
 , python-docutils
 , python-lxml
 , python-simplejson
 , resolvconf
 , ssl-cert
 , sudo
 , tcpdump
 , uaputl
 , vim-tiny
 , wget
 , zile
Recommends:
 batctl
 , rfkill
 , wireless-tools
Description: Set up freedombox environment
 Nice package.
